CURRENCY='USD'

MONGODB_URI='mongodb+srv://dineshkumarkori978_db_user:[password]@cluster0.lzhjeb4.mongodb.net'

CLERK_WEBHOOK_SECRET='whsec_xyz'

CLERK_PUBLISHABLE_KEY='pk_test_xyz'
CLERK_SECRET_KEY='sk_test_xyz'

CLOUDINARY_CLOUD_NAME='dineshk'
CLOUDINARY_API_KEY='4135275xyz'
CLOUDINARY_API_SECRET='ZP0cxyz'

STRIPE_PUBLISHABLE_KEY='pk_test_xyz'
STRIPE_SECRET_KEY='sk_test_xyz'

STRIPE_WEBHOOK_SECRET='whsec_xyz'

